
// #headerImg{

//     background-image: url(../../public/img/imgBureau.jpg);
//     background-repeat: no-repeat;
//     background-color: red;
//     height: 10rem;
//     width: 10rem;
//     border: solid black 2px ;
// }

.navbar{

    border: solid black 2px;
    
}

.logo{

    flex: 3;
    text-align: center;
    font-size: 35px;
    
  
}

// .choix{

// }