// ------------------------------- Section 3 ------------------------------- 


#services{

    
    height: 90vh;
    background-color: $noir;
    color: $blanc;
    display: flex;
    justify-content:center ;
    align-items:center ;
}


// ------titre------

.bigTitre{

    // background-color: palegreen;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center ;
}

.ensemble{
    // background-color: paleturquoise;
    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center ;

}

.ensemble>h3{

    font-size: 65px;
}

.ensemble>hr{

    
    background-color:$orange ;
    width: 55px;
    height: 3px;
    margin: 0px 0px 18px 0px ;
    
}

.ensemble>p{

    font-size: 22px;
}


//------Boxes------


.bbox{

    display: flex;
    flex-direction: column;
    justify-content:center ;
    align-items:center ;

    width: auto !important;
    height: 50vh;

     

}

.box{
    background-color:$gris;
    width: 80%;
    height: 45vh;
    box-shadow: 4px 4px 4px rgba(202, 125, 9, 0.315);
}


.box:hover{
    background-color: $orange;
}

.icon{
    color: $orange;
    text-align: left;
    margin: 15px 0px 0px 15px;

}
.icon:hover{
    color: $blanc;
}

.contenu{

    margin: 35px 15px 5px 15px;
}

.contenu>h5{
    font-size: 22px;
    
}
